body{
    margin: 0 auto;
    padding: 0px;
}

.a{
    width: 100%;
    min-height: 200px;
    background: red;
    float: left;
    
}

.b{
    width: 100%;
    min-height: 200px;
    background: blue;
    float: left;
}
